VITE_API_URL=http://localhost:3000
VITE_USDC_ADDRESS=""
VITE_PRIMARY_MARKETPLACE_ADDRESS=""
VITE_YIELD_VAULT_ADDRESS=""
VITE_ATTESTATION_REGISTRY=""
VITE_TRUSTED_ISSUERS_REGISTRY=""
VITE_IDENTITY_REGISTRY=""
VITE_TOKEN_FACTORY=""
VITE_MOCK_METH=""
VITE_METH_FAUCET=""
VITE_MOCK_FLUXION_DEX=""
VITE_FLUXION_INTEGRATION=""
VITE_LEVERAGE_VAULT=""
VITE_FAUCET=""
VITE_SECONDARY_MARKET=""
VITE_OAID=""
VITE_SOLVENCY_VAULT=""
VITE_SENIOR_POOL=""